.sectioncarR1{
   display: flex;
   position: relative; /* Устанавливаем родителю относительное позиционирование */
    background-color: rgb(255, 255, 255);
    z-index: 2;
   padding: 20px;
   border-bottom: 1px solid black;
}
h2{
    padding: 30px;
}
.text-R1{
    display: flex;
    text-align: center;
    color: black;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:950px ;
    padding-right: 50px;
    padding-left: 50px;
    opacity: 0; /* Скрываем текст */
    transform: translateY(20px); /* Смещаем текст вниз */
    animation: fadeIn 1.5s ease-out forwards; /* Запускаем анимацию */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }




p{
    font-size: 15px;

}
.carR1{
    width: auto;
    max-height: 450px;
    display: block; /* Убираем пробелы под изображением */
    object-fit: cover; /* Обрезка изображения для заполнения области */

}
.text-overlay {
    position: absolute; /* Абсолютное позиционирование для текста */
    top: 90%; /* От центра экрана */
    left: 50%; /* От центра экрана */
    transform: translate(-50%, -50%); /* Центрируем текст */
    color: white; /* Белый цвет текста */
    text-align: center; /* Центрируем текст */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Тень для читаемости */
    padding: 5px; /* Отступы вокруг текста */
    font-size: 20px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    background-color: rgba(0, 0, 0, 0.753);
  }
  .sectioncarR1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .sectioncarR1.visible {
    opacity: 1;
    transform: translateY(0);
  }
  