/* Основной контейнер */
.background-container{
  height: 100vh;

}
.job-details {
    text-align: center;
    padding: 40px;
    max-width: 600px;
    margin: 20px auto ;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.836);

  }
  
  /* Заголовки */
  .job-details h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  
  .job-details h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #000000;
  }
  
  /* Списки */
  .job-details ul {
    list-style: none;
    padding: 0;
  }
  
  .job-details ul li {
    font-size: 1.1rem;
    margin: 5px 0;
  }
  
  /* Кнопка отклика */
  .job-details button {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
    transition: 0.3s;
    border-radius: 5px;
    transition: 700ms ease;

  }
  
  .job-details button:hover {
    color: white;
    background-color: #002FCC;
    letter-spacing: 2px;

  }
  @media (max-width: 1440px) {


  }
   @media (max-width: 1280px) {
  
  
  }
  @media (max-width: 1024px) {
  
  
  }
  @media (max-width: 800px) {
   
  
  }
  @media (max-width: 600px) {
    .job-details h1 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    
    .job-details h2 {
      font-size: 0.9rem;
      margin-top: 20px;
      color: #000000;
    }
    .job-details ul li {
      font-size: 0.8rem;
      margin: 5px 0;
    }
  
  }
  @media (max-width: 480px) {
    
    
    }
  
  
  